name: Tests
on: [push, pull_request]
env:
  CI: true

jobs:
  run:
    name: Node ${{ matrix.node }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        node: [16, 18]
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Set Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Install yarn dependencies
        run: yarn install

      - name: Lint
        run: yarn lint

      - name: Build
        run: yarn build

      - name: Run jest tests
        run: yarn jest --runInBand
        if: "!(startsWith(matrix.os, 'ubuntu') && matrix.node == 10)"

      - name: Run jest tests with coverage
        run: yarn jest --runInBand --coverage
        if: startsWith(matrix.os, 'ubuntu') && matrix.node == 10

      - name: Run Coveralls
        uses: coverallsapp/github-action@master
        if: startsWith(matrix.os, 'ubuntu') && matrix.node == 10
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          path-to-lcov: "./.coverage/lcov.info"
